@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* nav */
nav {
    background: #242526;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #F2F2F2;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 27px;
    font-weight: 600;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #F2F2F2;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;    
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .drop-menu {
    background: #242526;
    width: 180px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0;
}

.mega-box {
    position: absolute;
    top: 85px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.content .row:nth-child(1),
.content .row:nth-child(2) {
    border-left: 0;
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0 20px;
    color: #D9D9D9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #F2F2F2;
}

.menu-btn {
    display: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 900px) {
    nav {
        height: 55px;
        line-height: 55px;
    }

    .wrapper .logo a {
        font-size: 22px;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #242526;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .wrapper .nav-links.active {
        left: 0;
        overflow-y: auto;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links li a {
        font-size: 20px;
        padding: 10px;
        border-radius: 0;
    }

    .nav-links .drop-menu {
        position: relative;
        top: 0;
        opacity: 1;
        visibility: visible;
        display: none;
        background: #333;
    }

    .nav-links .drop-menu li a {
        padding-left: 20px;
    }

    .nav-links li:hover .drop-menu,
    .nav-links li:hover .mega-box  {
        display: inline;
        top: 0;
    }

    .mega-box {
        position: relative;
        top: 0;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    .mega-box .content {
        flex-direction: column;
        padding: 10px 0;
    }

    .content .row {
        width: 100%;
        margin-bottom: 10px;
    }

    .content .row .mega-links {
        border-left: 0;
        margin-left: 0;
    }

    .menu-btn {
        display: block;
    }
}

/* hero */
.hero {
    min-height: 100vh;
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
}